    <footer>
        <p>Warriors Gym</p> <address>  <a class="grad" href="mailto:warriors_gym@yahoo.ro">&#128231; warriors_gym@yahoo.ro </a>
                Strada Atomului, nr. 20, sector 3 </address>
                <a class="grad" href="tel:0744596245"><strong> &#x260E; 0744 596 245</strong></a>
            <a href="https://www.facebook.com/badescu.gabi" class="fa fa-facebook"></a>
        
    </footer>