<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Warriors Gym</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inițial-scale=1.0">
    <meta name="keywords" content="Gym,sală sport,Bucureșți,fitness,ieftin,noi,acum">
    <meta name="description" content="Prezentare sala de fitness Warriors Gym Bucuresti">    <!-- <meta http-equiv="refresh" content="30"> -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css_files/css_pag1.css">
    <link rel="stylesheet" href="css_files/general.css">
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css_files/querry_idex.css">
    <link rel="stylesheet" href="css_files/404.css">
</head>


<body class="fundal1">
    <%-  include('../fragmente/header')  %> 

    <main>
        <div class="bg-image">
            <img src="img/backround2.jpg" alt="backround" style="height: 100%; width: 100%;">
        </div>
        <h2 class="bg-text"> ERROR 404</h2>
    
        <p>Pagina cautata nu exista, ne cerem scuze ! :(</p>
    
    </main>
    
    <%- include('../fragmente/footer')  %>
    
</body>
</html>