<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Galerie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Gym,Warriors,Bucuresti,galerie,poze,sport,alimentatie,succes">
    <meta name="description" content="Galeria salii Warriors gym">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css_files/general.css">
    <link rel="stylesheet" href="css_files/galerie.css">
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css_files/querry_galerie.css">
</head>

<body>
    <<%-  include('../fragmente/header')  %> 

    <main>
        <div class="bg-image">
            <img src="img/backround2.jpg" alt="backround" style="height: 100%; width: 100%;">
        </div>
        <h2 class="bg-text" > Galerie </h2>
        <div class="tot">
            <div class="small-img">
                <img src="img/1.jpeg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/2.jpg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/3.jpeg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/4.jpg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/5.jpg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/6.jpg" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/7.jpg" alt=" Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img">
                <img src="img/8.jpg" alt=" Poza Galerie Warriors Gym" title="sala">
            </div>
            <div class="small-img" >
                <img class="moarta" src="img/9.png" alt="Poza Galerie Warriors Gym" title="sala">
            </div>
        </div>
    </main>
    <%- include('../fragmente/footer')  %>
</body>

</html>